* {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    background-image: -webkit-linear-gradient(top left, #fff, #b4b4b4);
    background-image: linear-gradient(to bottom right, #fff, #b4b4b4);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#background {
    z-index: -1;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(http://www.transparenttextures.com/patterns/pinstriped-suit.png); */
	background-image: url(https://img12.360buyimg.com/ddimg/jfs/t1/156853/40/25273/71501/61616fc8Edd9a64dd/44c2b70ae18e64cc.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    /*------------- COLORS ------------*/
	/*简约皮卡丘 https://img12.360buyimg.com/ddimg/jfs/t1/156853/40/25273/71501/61616fc8Edd9a64dd/44c2b70ae18e64cc.jpg
	3d皮卡丘 https://img11.360buyimg.com/ddimg/jfs/t1/205170/1/10393/239517/61617061E99c4db87/a4560631e988c0c4.jpg
	https://img11.360buyimg.com/ddimg/jfs/t1/137823/12/22800/463082/616170e2E3ae06e69/46d4402505469cc3.jpg
	https://img14.360buyimg.com/ddimg/jfs/t1/197993/6/12307/110645/6161712fE06bf94c1/67fd710216b5a809.jpg
	*/
}
#reset,
.inputname {
    background: firebrick;
    color: #000;
    font-family: 'Exo', sans-serif;
}
#reset:hover,{
    background: #ef7126;
    border-color: #218c8d;
}
input[type="range"] {
    background: #333;
    /*------------------------------------------*/
}
#image {
    z-index: 20;
    overflow: hidden;
    float: left;
    width: 66%;
    min-height: 400px;
    background-image: url(https://yt3.ggpht.com/-V92UP8yaNyQ/AAAAAAAAAAI/AAAAAAAAAAA/zOYDMx8Qk3c/s900-c-k-no/photo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    -webkit-transition: width 0.3s linear, height 0.3s linear, background 0.3s linear, box-shadow 0.3s linear;
    transition: width 0.3s linear, height 0.3s linear, background 0.3s linear, box-shadow 0.3s linear;
}
.zoomed {
    background: #000;
    width: 100% !important;
    min-height: 600px !important;
    box-shadow: 0 0 10px #000;
    cursor: -webkit-zoom-out !important;
    cursor: zoom-out !important;
}
#container {
    z-index: 10;
    overflow: hidden;
    float: right;
    width: 33%;
    text-align: center;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
}
input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    width: 60%;
    height: 4px;
    margin: 19px 16%;
    border-radius: 5px;
}
.inputname {
    width: 40%;
    min-width: 150px;
    height: 25px;
    margin: 20px auto -5px;
    background: #333;
    line-height: 25px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.1em;
    -webkit-font-smoothing: antialiased;
    border: 1px dashed #ccc;
    border-radius: 2px;
    color: #fff;
    text-shadow: 0 2px 3px #000;
    box-shadow: inset 0 0 4px #000, 0 0 1px 1px #000, inset 0 0 15px 1px #000;
}
.inputname:first-letter {
    text-transform: uppercase;
    color: #2a7e43;
    font-weight: bold;
    font-size: 25px;
}
.inputname:first-of-type {
    margin-top: 20px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #ccc;
    border: 5px solid firebrick;
    box-shadow: inset 0 1px 3px #000, 0 0 2px #000;
    border-radius: 50%;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    cursor: pointer;
}
input[type=range]:active::-webkit-slider-thumb {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
input[type=range]::-moz-range-track {
    height: 5px;
    background: #333;
    border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #fff;
    border: 5px solid firebrick;
    box-shadow: inset 0 1px 1px #000;
    border-radius: 50%;
    cursor: pointer;
}
input[type=range]:active::-moz-range-thumb {
    transform: scale(1.5);
}
#options {
    width: 66%;
    float: left;
    margin-top: 20px;
    text-align: center;
}
#reset {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 35%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    cursor: pointer;
    box-shadow: inset 0 0 10px 1px #000, 0 0 0 1px rgba(0, 0, 0, .5), 0 2px 5px #000;
    border-radius: 5px;
    -webkit-transition: all 0.3s linear, -webkit-transform 0.1s linear;
    transition: all 0.3s linear, transform 0.1s linear;
}
#reset:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
#reset:first-letter {
    color: #2a7e43;
    font-size: 28px;
    text-shadow: 0 2px 2px #000;
}


@-webkit-keyframes placeholder {
    from {
        color: #678;
    }
    to {
        color: #abc;
    }
}
#showcase {
    opacity: 0.7;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url(http://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Large.png);
    cursor: pointer;
}
#showcase:hover {
    opacity: 1;
    /*sorry for sloppy code*/
}